
@font-face {
  font-family: 'PlayFairD';
  /*src: url('Fonts\Playfair_Display\static\PlayfairDisplay-Regular.ttf') format('truetype');*/
  src: url("Fonts\Playfair_Display\static\PlayfairDisplay-Regular.ttf") format('truetype');
  font-style: normal;
}

html {font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: normal;
}

body{
  margin: 0;
  padding: 0;
}

li {list-style-type: none; /* Убираем маркеры */
}

  .FontRoboto_500 {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.FontRoboto_700 {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .FontBitter_400 {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.FontPFD_600{
    font-family: 'PlayFairD', serif;
    font-size: 86px;
    font-weight: 600;
}
.FontPFD_500{
    font-family: 'PlayFairD', serif;
    font-size: 86px;
    font-weight: 500;
}

.FS_18px {
  font-size: 18px;
}
.FS_20px {
  font-size: 20px;
}
.FS_24px {
  font-size: 24px;
}
.FS_26px {
  font-size: 26px;
} 
.FS_32px {
  font-size: 32px;
} 
.FS_34px {
  font-size: 34px;
}
.Menu {
  display: flex;
  max-width: 1400px;
  height: 135px;
  margin: 0 auto;
  /*border: 2px solid red;*/
  justify-content: space-between;
  align-items: center;}

.LinkInMenu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 55px;
  /*background-color:chocolate;*/
}


.Link{text-decoration: none;
color: black;}

.Block_1{
  display: flex;
  flex-direction: column;
  min-height: 630px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.Block_2{
  display: flex;
  flex-direction: column;
  width: 36%;
  min-height: 360px;
  background: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
}

.biograghy {
  display: flex;
  /*border: 1px solid green;*/
  max-width: 1165px;
  margin: 0 auto;
  box-sizing: border-box;
  /*background-color: aquamarine;*/
  padding-top: 140px;
}
.img_biograghy {
  width: 49%;
  object-fit: cover;
}

.content-biography {
  display: flex;
  
  width: 39%;
  /*justify-content: center;*/
  flex-direction: column;
  padding-left: 30px;
  padding-top: 100px;
  padding-right: 0px;
  margin-right: 0;
  
}



.section-biography-text {
  margin: 0;
  transform: rotate(-90deg) translateX(-25%);
  padding-bottom: 30px;
}

.text1{background-color: rgb(31, 212, 152);}
.text2{background-color:blueviolet;}
.text3{background-color:chartreuse;}
.text4{background-color:cornflowerblue}